@page "/Details/{Id}"

@inject IReportData reportData
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject IUserData userData


<h1 class="page-heading text-uppercase mb-4">Report Details</h1>

<div class="row justify-content-center detail-form">
    <div class="col-xl-8 col-lg-10 form-layout">
        @if(report is not null)
        {
            <div class="row report-detail-row">
                <div class="col-11 report-detail">
                    <div>
                        <div class="@GetSaveClass()" @onclick="SaveReport">
                            <div class="text-uppercase">@GetUserSaveText()</div>
                            <span class="oi oi-caret-top detail-save"></span>
                        </div>
                        <div class="report-detail-date">
                            <div>@report.WhenCreated.ToString("MM.dd.yyyy")</div>
                        </div>
                    </div>
                    <div>
                        <div class="report-detail-text">
                            <div class="fw-bold mb-2 report-detail-machinename">@report.Machine.MachineName</div>
                            <div class="mb-2 report-detail-author">@report.Author.FirstName</div>
                            <div class="mb-2 report-detail-author">@report.Author.LastName</div>
                            <div class="mb-2">@report.Issue</div>
                            <div class="mb-2">@report.Solution</div>
                        </div>
                    </div>
                </div>
                <div class="col-1 close-button-section">
                    <button class="btn btn-close" @onclick="ClosePage"></button>
                </div>

            </div>
        }
    </div>
</div>



@code {
    [Parameter]
    public string Id { get; set; }

    private ReportModel report;
    private UserModel loggedInUser;


    protected async override Task OnInitializedAsync()
    {
        report = await reportData.GetReport(Id);
        loggedInUser = await authProvider.GetUserFromAuth(userData);
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }

    private string GetUserSaveText()
    {
        //may need to change text here, this is copied from index.razor
        if (report.UserSaves.Count > 0)
        {
            return $"{report.UserSaves.Count.ToString("00")} Saves!";
        }
        else
        {
            if (report.Author.Id == loggedInUser?.Id)
            {
                return "Awaiting Saves";
            }
            else
            {
                return "Click to Save";
            }
        }
    }
    private async Task SaveReport()
    {
        if (loggedInUser is not null)
        {
            if (report.Author.Id == loggedInUser.Id)
            {
                return;
            }
            //removes this user from report saves if theyre already there(unsave)
            if (report.UserSaves.Add(loggedInUser.Id) == false)
            {
                report.UserSaves.Remove(loggedInUser.Id);
            }

            await reportData.UserSaveReport(report.Id, loggedInUser.Id);

        }
        else
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }
    private string GetSaveClass()
    {
        if (report.UserSaves is null || report.UserSaves.Count == 0)
        {
            return "report-detail-no-saves";
        }
        else if (report.UserSaves.Contains(loggedInUser?.Id))
        {
            return "report-detail-saved";
        }
        else
        {
            return "report-detail-not-saved";
        }
    }
}
