@page "/"

@inject IReportData reportData
@inject IUserData userData
@inject IMachineData machineData
@inject NavigationManager navManager
@inject ProtectedSessionStorage sessionStorage
@inject AuthenticationStateProvider authProvider

<h1 class="page-heading text-uppercase mb-4">Downtime Reports</h1>
<div class="report-container">
    <button @onclick="LoadCreatePage" class="create-btn btn btn-outline-light btn-lg text-uppercase">Create a Report</button>
</div>

<div class="row">
    <div class="reports-count col-md-4 text-light mt-2">@reports?.Count Reports</div>
    <div class="col-md-4 col-lg-5 btn-group">
        <button class="btn btn-order @SortedByNewClass(true)" @onclick="(() => OrderByNew(true))">New</button>
        <button class="btn btn-order @SortedByNewClass(false)"@onclick="(() => OrderByNew(false))">Most Saved</button>
    </div>
    <div class="col-md-4 col-xl-3 search-box">
        <input type="text" placeholder="Search" aria-label="Search box" class="form-control rounded-control"
        @oninput="((txt) => OnSearchInput((string)txt.Value))" />
    </div>
</div>


<div class="row">
    <div class="col-md-8 col-xl-9">
        @if (reports is not null)
        {
            <Virtualize Items="@reports" Context="r" OverscanCount="10">
                <div class="report-entry">
                    <div class="@GetSaveClass(r)" @onclick="(() => SaveReport(r))">
                        <div class="text-uppercase">@GetUserSaveText(r)</div>
                        <span class="oi oi-caret-top" style="font-size: 3rem;"></span> 
                    </div>
                    <div class="report-entry-text">
                        <div class="report-entry-text-machine" @onclick="(() => OpenDetails(r))">
                            @r.Machine?.MachineName
                        </div>
                    </div>
                    <div>
                        <div class="report-entry-issue-text" @onclick="(() => OpenDetails(r))">
                            @r.Issue
                        </div>
                    </div>
                    <div class="report-entry-status @GetReportStatusClass(r)">
                        <div class="report-entry-status-text">@r.Status</div>
                    </div>
                </div>
            </Virtualize>
        }
    </div>
    <div class="col-md-4 col-xl-3">
        @if(machines is not null)
        {
            <div class="machines">
                <span class="text-uppercase fw-bold">Machine</span>
                <div class="@GetSelectedMachine()" @onclick="(() => OnMachineSelect())">All</div>
                @foreach (var m in machines)
                {
                    <div class="@GetSelectedMachine(m.MachineName)" @onclick="(() => OnMachineSelect(m.MachineName))">@m.MachineName</div>
                }
            </div>            
        }
        
    </div>
</div>


@code {
    private UserModel loggedInUser;
    private List<ReportModel> reports;
    private List<MachineModel> machines;

    private string selectedMachine = "All";
    private string searchText = "";
    bool isSortedbyNew = true;

    protected async override Task OnInitializedAsync()
    {
        reports = await reportData.GetAllReports();
        machines = await machineData.GetAllMachines();
        await LoadAndVerifyUser();

    }

    private void LoadCreatePage()
    {
        if(loggedInUser is not null)
        {
            navManager.NavigateTo("/Create");
        }
        else
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }

    private async Task LoadAndVerifyUser()
    {
        var authState = await authProvider.GetAuthenticationStateAsync();
        string objectId = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("objectidentifier"))?.Value;

        if(string.IsNullOrWhiteSpace(objectId) == false)
        {
            loggedInUser = await userData.GetUserFromAuthentification(objectId) ?? new();


            string firstName = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("givenname"))?.Value;
            string lastName = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("surname"))?.Value;
            string displayName = authState.User.Claims.FirstOrDefault(c => c.Type.Equals("name"))?.Value;
            string email = authState.User.Claims.FirstOrDefault(c => c.Type.Contains("email"))?.Value;

            bool isDirty = false;
            if (objectId.Equals(loggedInUser.ObjectIdentifier) == false)
            {
                isDirty = true;
                loggedInUser.ObjectIdentifier = objectId;
            }
            if (firstName.Equals(loggedInUser.FirstName) == false)
            {
                isDirty = true;
                loggedInUser.FirstName = firstName;
            }
            if (lastName.Equals(loggedInUser.LastName) == false)
            {
                isDirty = true;
                loggedInUser.LastName = lastName;
            }
            if (email.Equals(loggedInUser.Email) == false)
            {
                isDirty = true;
                loggedInUser.Email= email;
            }
            if (isDirty)
            {
                if (string.IsNullOrWhiteSpace(loggedInUser.Id))
                {
                    await userData.CreateUser(loggedInUser);
                }
                else
                {
                    await userData.UpdateUser(loggedInUser);
                }
            }




        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadFilterState();
            await FilterReports();
            StateHasChanged();
        }
    }

    private async Task LoadFilterState()
    {
        var stringResults = await sessionStorage.GetAsync<string>(nameof(selectedMachine));
        if(stringResults.Value != null)
        {
            selectedMachine = stringResults.Value;
        }
        else
        {
            selectedMachine = "All";
        }
        stringResults = await sessionStorage.GetAsync<string>(nameof(searchText));
        if (stringResults.Value != null)
        {
            searchText = stringResults.Value;
        }
        else
        {
            searchText = "";
        }
        var boolResults = await sessionStorage.GetAsync<bool>(nameof(isSortedbyNew));
        if (stringResults.Value != null)
        {
            isSortedbyNew = boolResults.Value;
        }
        else
        {
            isSortedbyNew = true;
        }
    }

    private async Task SaveFilterState()
    {
        await sessionStorage.SetAsync(nameof(selectedMachine), selectedMachine);
        await sessionStorage.SetAsync(nameof(searchText), searchText);
        await sessionStorage.SetAsync(nameof(isSortedbyNew), isSortedbyNew);
    }

    private async Task FilterReports()
    {
        var output = await reportData.GetAllReports();

        if (selectedMachine != "All")
        {
            output = output.Where(x => x.Machine.MachineName == selectedMachine).ToList();
        }
        //searches the issue AND solution descriptions for the search text
        if(string.IsNullOrWhiteSpace(searchText) == false)
        {
            output = output.Where(r => r.Issue.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)
            || r.Solution.Contains(searchText, StringComparison.InvariantCultureIgnoreCase)).ToList();
        }

        if(isSortedbyNew)
        {
            output = output.OrderByDescending(x => x.WhenCreated).ToList();
        }
        else
        {
            output = output.OrderByDescending(x => x.UserSaves.Count).ThenByDescending(x => x.WhenCreated).ToList();
        }

        reports = output;

        await SaveFilterState();


    }

    private async Task OrderByNew(bool isNew)
    {
        isSortedbyNew = isNew;
        await FilterReports();
    }

    private async Task OnSearchInput(string searchInput)
    {
        searchText = searchInput;
        await FilterReports();
    }

    private async Task OnMachineSelect(string machine = "All")
    {
        selectedMachine = machine;
        await FilterReports();
    }

    private async Task SaveReport(ReportModel report)
    {
        if(loggedInUser is not null)
        {
            if(report.Author.Id == loggedInUser.Id)
            {
                return;
            }
            //removes this user from report saves if theyre already there(unsave)
            if (report.UserSaves.Add(loggedInUser.Id) == false)
            {
                report.UserSaves.Remove(loggedInUser.Id);
            }

            await reportData.UserSaveReport(report.Id, loggedInUser.Id);

            if (isSortedbyNew == false)
            {
                reports = reports.OrderByDescending(r => r.UserSaves.Count).ThenByDescending(r => r.WhenCreated).ToList();
            }
        }
        else
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
        }
    }
    private string GetUserSaveText(ReportModel report)
    {
        if(report.UserSaves.Count > 0)
        {
            return $"{report.UserSaves.Count.ToString("00")} Saves!";
        }
        else
        {
            if(report.Author.Id == loggedInUser?.Id)
            {
                return "Awaiting Saves";
            }
            else
            {
                return "Click to Save";
            }

        }
    }

    private void OpenDetails(ReportModel report)
    {
        //creates a new URL with the report ID. noice. 
        navManager.NavigateTo($"/Details/{report.Id}");
    }

    private string SortedByNewClass(bool isNew)
    {
        if (isNew == isSortedbyNew)
        {
            return "sort-selected";
        }
        else
        {
            return "";
        }
    }

    private string GetSaveClass(ReportModel report)
    {
        if(report.UserSaves is null || report.UserSaves.Count == 0)
        {
            return "report-entry-no-saves";
        } 
        else if (report.UserSaves.Contains(loggedInUser?.Id))
        {
            return "report-entry-saved";
        }
        else
        {
            return "report-entry-not-saved";
        }
    }

    private string GetReportStatusClass(ReportModel report)
    {
        if(report is null || report.Status == false)
        {
            return "report-entry-status-active";
        }
        else
        {
            return "report-entry-status-archived";
        }
    }

    private string GetSelectedMachine(string machine= "All")
    {
        if(machine == selectedMachine)
        {
            return "selected-machine";
        }
        else
        {
            return "";
        }
    }

}

